<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {%- if site.title-img -%}
        <a class="navbar-brand navbar-brand-logo" href="{{ '' | absolute_url }}"><img src="{{ site.title-img }}"/></a>
      {%- else -%}
        <a class="navbar-brand" href="{{ '' | absolute_url }}">{{ site.title }}</a>
      {%- endif -%}
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
      <!--  if lang specified -->
      {%- if page.lang -%}
        {%- for lang-links in site.navbar-links -%}
          {%- if lang-links.first == page.lang -%}
            {%- for link in lang-links[1] %}
            {%- if link.first[1][0] %}
            <li class="navlinks-container">
              <a class="navlinks-parent" href="javascript:void(0)">{{ link.first[0] }}</a>
              <div class="navlinks-children">
                {%- for childlink in link.first[1] -%}
                {%- for linkparts in childlink %}
                <a href="{{ linkparts[1] | relative_url }}">{{ linkparts[0] }}</a>
                {%- endfor -%}
                {%- endfor %}
              </div>
            </li>
            {% else %}
            <li><a href="{{ link.first[1] | relative_url }}">{{ link.first[0] }}</a></li>
            {%- endif -%}
            {%- endfor -%}
          {%- endif -%}
        {%- endfor -%}

      <!--  if no lang specified, in English -->
      {%- else -%} 
        {%- for link in site.navbar-links.en -%}
        {%- if link.first[1][0] %}
        <li class="navlinks-container">
          <a class="navlinks-parent" href="javascript:void(0)">{{ link.first[0] }}</a>
          <div class="navlinks-children">
            {%- for childlink in link.first[1] -%}
            {%- for linkparts in childlink %}
            <a href="{{ linkparts[1] | relative_url }}">{{ linkparts[0] }}</a>
            {%- endfor -%}
            {%- endfor %}
          </div>
        </li>
        {% else %}
        <li><a href="{{ link.first[1] | relative_url }}">{{ link.first[0] }}</a></li>
        {%- endif -%}
        {%- endfor -%}
      {%- endif -%}

      <!-- Language navigation / -->
      {%- if site.navbar-links.Language -%}
      <li class="navlinks-container">
        <a class="navlinks-parent" href="javascript:void(0)">Language</a>
        <div class="navlinks-children">
          {%- for link in site.navbar-links.Language -%}
          <a href="{{ link.first[1] | relative_url }}">{{ link.first[0] }}</a>
          {%- endfor -%}
        </div>
      </li>
      {%- endif -%}
      <!-- Language navigation / -->
      </ul>
    </div>

	{% if page.image and (layout.show-avatar or page.show-avatar) %}
	<div class="avatar-container">
	  <div class="avatar-img-border">
	    <a href="{{ '' | absolute_url }}">
	      <img class="avatar-img" src="{{ page.image | relative_url }}" />
		</a>
	  </div>
	</div>
	{% elsif site.avatar and (layout.show-avatar or page.show-avatar) %}
	<div class="avatar-container">
	  <div class="avatar-img-border">
	    <a href="{{ '' | absolute_url }}">
	      <img class="avatar-img" src="{{ site.avatar | relative_url }}" />
		</a>
	  </div>
	</div>
	{% endif %}

  </div>
</nav>
